@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'quran_font';
  src: url('/fonts/quran_font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'sans-serif';
}
.quran-font {
  font-family: 'quran_font';
}
.color-mode {
  filter: invert(1) hue-rotate(180deg);
}